# First model with scikit-learn
> how to build predictive models on tabulardatasets, with only numerical features

- toc: true
- badges: false
- comments: true
- author: CÃ©cile Gallioz
- categories: [sklearn, v2]

# Preparation

In [2]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import time

In [2]:
myData = pd.read_csv("../../scikit-learn-mooc/datasets/adult-census.csv")

In [3]:
myData.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
print(f"The dataset data contains {myData.shape[0]} samples and {myData.shape[1]} features")

The dataset data contains 48842 samples and 14 features

In [5]:
myData["class"].value_counts()

 <=50K    37155
 >50K     11687
Name: class, dtype: int64

In [6]:
myData.dtypes

age                int64
workclass         object
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class             object
dtype: object

In [7]:
from sklearn.compose import make_column_selector as selector
#
numerical_columns = selector(dtype_include="int64")(myData)
categorical_columns = selector(dtype_include="object")(myData)
all_columns = numerical_columns + categorical_columns
myData = myData[all_columns]

In [8]:
print(f"The dataset data contains {myData.shape[0]} samples and {myData.shape[1]} features")

The dataset data contains 48842 samples and 14 features

In [9]:
data_numerical = myData[numerical_columns]
data_categorical = myData[categorical_columns]